<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="http://code.jquery.com/jquery-latest.js"></script>
			<script>
				// Requires jQuery!
				jQuery.ajax({
					url: "https://alm.digital.panasonic.com/jira/s/11acba477451fe080b79a690c7464f26-T/90p5h/803001/6411e0087192541a09d88223fb51a6a0/3.0.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?locale=en-UK&collectorId=cd1df538",
					type: "get",
					cache: true,
					dataType: "script"
				});

				window.ATL_JQ_PAGE_PROPS =  {
					"triggerFunction": function(showCollectorDialog) {
						//Requires that jQuery is available! 
						jQuery("#myCustomTrigger").click(function(e) {
							e.preventDefault();
							showCollectorDialog();
						});
					}};
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/cool stuff">Cool Stuff</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tinbao87@gmail.com">email</a></li>
	        		<li><a href="https://github.com/tinbao">github.com/tinbao</a></li>
				</ul>
			</footer>
		</body>
	</html>
